.code__input {
    padding: 1rem;
}

.code__input .input {
    width: 250px;
    display: flex;
    gap: 10px;
}

.code__input .input input:focus {
    outline: 1px solid #37219c;
    
}

.code__input .input input{
    caret-color: transparent;
}

.code__input .input input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #888;
    width: 50px;
    height: 50px;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
}