
header.DARK {
    background-color: #100C21;
    color: #dff;
}

header {
    width: 100%;
    padding: .5rem 1rem;
    border-bottom: 1px solid #ddd;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

header nav .hero {
    font-size: 18px;
    font-weight: 600;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

header nav ul li a.active {
    text-decoration: underline;
}
